{% extends 'base.html.twig' %}

{% block title %}Espace Comptable{% endblock %}

{% block body %}
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="accueil">
        <h5>GSB Frais</h5>
    </a>
    <span class="navbar-header">
      <h3>Espace Comptable</h3>
    </span>
    <span class="navbar-text">
      <h5>{{app.session.get('prenom')}} {{app.session.get('nom')}}</h5>
    </span>
  </div>
</nav>

<div>
    <p>Bonjour {{app.session.get('prenom')}} {{app.session.get('nom')}}</p>
</div>
{% endblock %}
